body {
  height: 100vh;
  margin: 0px;
}
#parent {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.book {
  font-family: "kanit", sans-serif;
  font-size: 40px;
}
