body {
  height: 100vh;
  margin: 0px;
}
/*container of everything*/
#parent {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left-side {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #797676;
}

/*containers the books */
.bookContainer {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
}

/*settinga for all the books*/
.book {
  font-family: "kanit", sans-serif;
  font-size: 1.5vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
/*splits book buttons into two */
.rBook {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*user fill out form */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*make form not display */
.invisible.book-form {
  display: none;
}
/*makes form disply */
.book-form {
  display: block;
}
/*text box font */
label {
  font-family: "kanit", sans-serif;
  font-size: large;
}
fieldset.ifRead {
  font-family: "kanit", sans-serif;
  font-size: large;
}
/*form text boxes size */
input[type="text" i] {
  width: 230px;
  height: 60px;
  display: block;
  box-sizing: border-box;
  border: solid black 1px;
}
/* submit button container */
.submit {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/*submit input button */
input.submitButton {
  font-family: "kanit", sans-serif;
  font-size: medium;
  color: black;
}

/*center button on screen */
.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  font-family: "kanit", sans-serif;
  font-weight: 700;
}
/*button appearance */
.addBook {
  border-radius: 2em;
  font-family: "kanit", sans-serif;
  font-weight: 300;
  color: #695f5f;
  font-size: larger;
  width: 170px;
  height: 65px;
}
/*get the words on top of text box */
